[submodule "eggvance/external/eggcpt"]
    path = eggvance/external/eggcpt
    url = https://github.com/jsmolka/eggcpt
	
[submodule "eggvance/external/icon"]
    path = eggvance/external/icon
    url = https://github.com/jsmolka/icon
